body {
	border: 0;
	margin: 0;
	padding: 0;
}

.navbar {
	background: #ffffff;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10;
	ul {
		li {
			display: inline-block;
			padding: 20px;

			a {
				color: black;
			}
		}
	}
}

.controls-container {
	position: fixed;
	top: 50%;
	right: 0;
	z-index: 10;
	.btn {
		padding: 10px 20px;
	}
}


// ================================
// ==== CSS FOR HERO ANIMATION ====
// ================================
.jcarousel-pagination-wrapper {
	display: none;
}

.home-hero_wrapper {
	position: relative;
	padding-top: 1px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.home-hero_wrapper:before {
	background: url('../img/ready2-bloom-bg-xl.jpg') no-repeat;
	background-size: cover;
	background-position: 60% 0;
	content: '';
	display: block;
	width: 100%;
	height: 300px;
}

.home-hero_wrapper .logo-ready-2-own {
	background: url('../img/logo-ready2-bloom-s.png') no-repeat;
	background-size: 100% 100%;
	background-position: top center;
	width: 230px;
	height: 251px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 0;
	position: absolute;
	left: 0;
	right: 0;
	top: -164px;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	z-index: 1;
}

.home-hero_wrapper .home-hero_text {
	background: white;
	margin-top: 0;
	padding-top: 100px;
	position: relative;
}

.home-hero_wrapper .home-hero_text-box {
	background: rgba(255,255,255, 0.9);
	margin-right: auto;
	margin-left: auto;
}

.home-hero_wrapper sup {
	font-size: 50%;
	top: -0.5em;
	line-height: 0;
}

.home-hero_wrapper .text-pink{
	color: #e21b70;
}
.home-hero_wrapper .text-caps {
	text-transform: uppercase;
}
.home-hero_wrapper .semibold {
	font-weight: 500;
	display: inline-block;
	margin-bottom: 8px;
}
.home-hero_wrapper .light {
	font-weight: 300;
}

.home-hero_wrapper .text-fira {
	font-family: 'Fira Sans',sans-serif;
}

.home-hero_wrapper h2 {
	font-size: 60px;
	line-height: 0.8;
	letter-spacing: normal;
	margin-top: 0;
	margin-bottom: 15px;
	margin-left: auto;
	margin-right: auto;
 }

.home-hero_wrapper p {
	font-size: 20px;
	line-height: 1.4;
	letter-spacing: normal;
	margin: 0;
}

.home-hero_wrapper .flavor-text span {
	display: block;
	margin-top: 10px;
}


.home-hero_wrapper .cta-link {
	display: inline-block;
	font-size: 20px;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 5px;
	margin-right: 5px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 10px;
	padding-right: 10px;
	line-height: 1.5;
}

.home-hero_wrapper .cta-link:after {
	content: '';
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;
}

@media only screen and (max-width: 650px){

	.home-hero_wrapper {
		background: url('../img/ready2-bloom-bg-s.jpg') no-repeat;
		background-size: 100% auto;
		background-position:  center top;
	}

	.home-hero_wrapper:before {
		display: none;
	}

	.home-hero_wrapper .logo-ready-2-own {
		width: 41vw;
		height: 47.5vw;
		top: -31vw;
	}

	.home-hero_wrapper .home-hero_text-box {
		background: rgba(255,255,255, 1);
	}

	.home-hero_wrapper .home-hero_text {
		margin-top: 67vw;
		padding-top: 22vw;
	}

	.home-hero_wrapper h2 { 
		font-size: 50px;
		letter-spacing: normal;
		line-height: 1;
		width: 100%;
	}

	.home-hero_wrapper p {
		font-size: 16px;
	}
	
	.home-hero_wrapper .cta-link {
		font-size: 18px;
		margin-right: 0;
		margin-left: 0;
		margin-bottom: 0;
	}
}

@media only screen and (min-width: 1024px){

	.home-hero_wrapper {
		background: url('../img/bg.jpg') no-repeat;
		background-size: cover;
		background-position: 45% 0;
		height: 558px;
		padding-top: 0;
	}

	.home-hero_wrapper:before {
		display: none;
	}

	.home_floral-1 {
		background: url('../img/floral4.png') no-repeat;
		background-size: 100% auto;
		background-position: center top;
		display: block;
		width: 297px;
		height: 483px;
		position: absolute;
		left: 0;
		bottom: 30px;
		transform-origin: bottom center;
		animation: wind3 10s infinite;
	}

	.home_floral-2 {
		background: url('../img/floral3.png') no-repeat;
		background-size: 100% auto;
		background-position: center top;
		display: block;
		width: 306px;
		height: 138px;
		position: absolute;
		left: 0;
		bottom: 0;
		transform-origin: bottom right;
		animation: wind2 5s infinite;
	}

	.home_floral-3 {
		background: url('../img/floral2.png') no-repeat;
		background-size: 100% auto;
		background-position: center top;
		display: block;
		width: 315px;
		height: 220px;
		position: absolute;
		right: 0;
		bottom: 0;
		opacity: 0.5;
		transform-origin: bottom right;
		animation: wind2 5s infinite;
	}


	.home_floral-4 {
		background: url('../img/floral1.png') no-repeat;
		background-size: 100% auto;
		background-position: center top;
		display: block;
		width: 393px;
		height: 558px;
		position: absolute;
		right: 0;
		bottom: 0;
		opacity: 0.5;
		transform-origin: bottom center;
		animation: wind 10s infinite;
	}


	.home-hero_wrapper .logo-ready-2-own {
		background: url('../img/logo-ready2-bloom-l.png') no-repeat;
		background-size: 100% auto;
		top: 0;
		position: relative;
		width: 270px;
		height: 302px;
	}

	.home-hero_wrapper .home-hero_text {
		background: none;
		width: 65%;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		padding-top: 0;
		padding-bottom: 0;
		margin-top: 41px;
		margin-left: auto;
		margin-right: auto;
	}

	.home-hero_wrapper .home-hero_text-box {
		width: 500px;
		margin-top: -20px;
		padding-top: 23px;
	}

	.home-hero_wrapper p {
		margin-top: 12px;
	}

	.no-animation {
		animation: none;
	}
	
}

@media only screen and (min-width: 1024px) and (max-width: 1279px) {

	.home-hero_wrapper .home-hero_text {
		width: 55%;
	}

}

@media only screen and (min-width: 1600px){
	.home-hero_wrapper .home-hero_text {
		width: 74%;
	}
}

@keyframes wind {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(-10deg);
	}

	100% {
		transform: rotate(0deg);
	}
}

@keyframes wind2 {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(-5deg);
	}

	100% {
		transform: rotate(0deg);
	}
}

@keyframes wind3 {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(10deg);
	}

	100% {
		transform: rotate(0deg);
	}
}