<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<div class="container-fluid" ng-controller="youtubeCtrl" id="youtube">
	<div class="row">
		<div class="col-xs-12 text-center">
			<h1>Youtube Animation</h1>
			<h1>Dogs Say Cheese</h1>
			<iframe id="myYTPlayer" width="560" height="315" src="https://www.youtube.com/embed/F8Z1_5l7-Ss?enablejsapi=1" frameborder="0" allowfullscreen></iframe>
		</div>
	</div>
	<div class="controls-container">
		<p>Youtube Controls</p>
		<a class="btn btn-default" id="play"><i class="fa fa-play fa-2x" aria-hidden="true"></i></a>
		<a class="btn btn-default" id="pause"><i class="fa fa-pause fa-2x" aria-hidden="true"></i></a>
		<p>CSS Animation Controls</p>
		<a class="btn btn-primary" id="cssPlay"><i class="fa fa-play fa-2x" aria-hidden="true"></i></a>
		<a class="btn btn-primary" id="cssPause"><i class="fa fa-pause fa-2x" aria-hidden="true"></i></a>
	</div>
</div>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<div class="container-fluid" ng-controller="cssAniCtrl">
	<div class="home-hero_wrapper">
		<div class="home_floral-1 animate"></div>
		<div class="home_floral-2 animate"></div>
		<div class="home_floral-3 animate"></div>
		<div class="home_floral-4 animate"></div>
		<div class="home-hero_text">
			<h2 class="promo-title logo-ready-2-own">
				Ready 2 Bloom
			</h2>
			<div class="home-hero_text-box">
				<p class="flavor-text">
					Fresh new florals&hellip;night and day.<br/>
					Why wait for spring showers to bring the&nbsp;flowers?<br/>
					<span>Ready 2&hellip;Bloom</span>
				</p>
				<a class="cta-link" href="$url('Search-Show','cgid','florals','icid','HP-hero')$">Shop Florals</a>
			</div>
		</div>
	</div>
</div>